label{
    border:1px solid blue;
    width: 50px;
    display:block;
    margin:20px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
}
/* label span{
    display:block;
    height:3px;
    background: blue;
    border-radius: 2px;
    margin:2px auto;
    width:80%;
    cursor:pointer;} */
    /* 마우스 손모양 */

/* 박스제어하기 */
ul{display: none;}
input:checked+ul{
    display: block;
}
ul>li>a::before{
    content:'\1F60E';
}
 
/* 서브메뉴 디자인 구현 */
ul{ position:relative;
    width:200px;
}

ul>li{
    background: green;
    font-weight:bold;
    padding:5px;
}
ul>li:not(:last-child){
    /* border-bottom: 0.1px dashed white; */
    box-shadow: 0px 1px 1px 1px white;
}
ul>li{
    text-indent: 15px;
}
ul>li>a{
    color: white !important;
    display:block;
}
div.sub{
    position:absolute;
    left:100%;
    top:0;
}
ul>li:hover{
    background-color: lime;
}
ul>li:hover>a{
 text-shadow: 1px 1px black;
}
div.sub{display:none;
    border:1px solid red;
    
}
ul>li:hover>div.sub{
    width:500px;
    display: block;
  
}
/* 서브메뉴 디자인 */
div.sub section{ float:left;}
/* div.sub section{flex:1;} */

section>ol{
    font-size: 0.9em;
    font-weight: normal;
    color: gray;
}
section>ol>h3{
    font-size: 1em;
    font-weight: normal;
}
section::after {
    content:'';
    width: 4px;
    height: 80px;
    border:1px solid red;
    position:absolute;
    top:0; left:0%
}
